@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Giraffe booking</h1>
    <img src="https://animals.sandiegozoo.org/sites/default/files/2016-11/animals_hero_giraffe_1_0.jpg" alt="Alternate Text" style="width:500px; margin: 15px;" />
</div>
<div class="infoText" style="background-color: whitesmoke; border-radius: 1em; padding: 20px;">
        <p class="lead"><em>We are very excited to show off our gentle and gracious giraffes. GiraffeBookingCorp has specialised in the training and renting of giraffes for the past 10 years.</em></p>
        <p class="lead"><em>GiraffeBookingCorp only works with the most skilled trainers and we source all of our giraffes with an ethical approach and with consideration for the local wildlife ecosystem.</em></p>
        <p class="lead"><em>We are commited to assist the local communities we source our animals from and five percent of our profits goes to ensure the sanctity and protection of wildlife.</em></p>
        <p>See our current tower of giraffes <a href="https://localhost:44338/Giraffes">here</a>.</p>
    </div>

