@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<div style="background-color: whitesmoke; border-radius: 1em; padding: 20px;">
    <h6>Effective Date: November 18, 2020</h6>

    <p>This policy explains what information we collect when you use GiraffeBookingCorp's sites, services products and content("services").</p>
    <p>It also has information about how we store, use, transfer and delete that information. </p>
    <p>Our aim is not just to comply with privacy law. It's to earn your trust.</p>

    <h6>Information We Collect & How We Use It</h6>

    <p>GiraffeBookingCorp doesn't make money from ads. So we don't collect data in order to advertise to you. The tracking we do at GiraffeBookingCorp is to make our product work as well as possible</p>
</div>