<html xmlns="http://www.w3.org/1999/xhtml">
<head class="text-center">
        <h1 class="display-4">Terms and conditions</h1>
</head>
<body>
    <div style="background-color: whitesmoke; border-radius: 1em; padding: 20px; margin-top: 10px;">
        <p>When you rent a giraffe from GiraffeRentalCorp you agree to the following terms:</p>
        <ul>
            <li>The giraffes are <strong>not</strong> for riding.</li>
            <li>You should feed the giraffes once every hour. They enjoy carrots, hay and low-starch, high-fiber biscuits (available for 20$ in our giftshop).</li>
            <li>The giraffess enjoy long walks by the beach, eating leaves and galloping.</li>
        </ul>
        <Disclaimer>Disclaimer: giraffe racing rights are reserved by GiraffeRentalCorp and any violations of this rule are discouraged and liable for a lawsuit.</Disclaimer>
        <p> </p>
        <p>Failure to comly with the stated terms and conditions invokes a once per instance of transgression fee.</p>

    </div>
</body>
</html>
