@model Giraffe

        <h3 sstyle="padding-bottom: 20px;">Are you sure you want to remove this Giraffe?</h3>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Delete" method="post">

                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label class="control-label">Picture</label>
                        <input disabled class="form-control" asp-for="PicId" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input disabled class="form-control" asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Height</label>
                        <input disabled class="form-control" asp-for="Height" />
                    </div> <div class="form-group">
                        <label class="control-label">Age</label>
                        <input disabled class="form-control" asp-for="Age" />
                    </div> <div class="form-group">
                        <label class="control-label">Origin</label>
                        <input disabled class="form-control" asp-for="Origin" />
                    </div> <div class="form-group">
                        <label class="control-label">Price</label>
                        <input disabled class="form-control" asp-for="Price" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-danger" type="submit" value="Delete" />
                    </div>

                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
